{% extends "templates/base.html" %}
{% block page-content %}
<h1>ROTA SHOW</h1>
<p>Você acessou o nosso servidor com sucesso!</p>
<p>Se deseja acessar nossas apis, aqui vai uma lista para você! <br />
Recomendamos a utilização do Insomnia, Postman ou similar para testes! <br />
<i>Também disponibilizamos um arquivo de importação do insomnia pré configurado!</i></p>
<p>Observação: Quando o sistema perguntar por suas credenciais de acesso, certifique-se de digitar o seu nome de usuário
em letras maiúsculas!</p>
<p><b>Public Routes</b><br />
</p>

<table>
    <tbody>
        <br>[POST]/api/accounts/token/</br>
        <br>[POST]/api/accounts/users/</br>
    </tbody>
</table>
<p><b>Private Routes</b><br />
Requer header: Authorization: "Token {USER_TOKEN}"<br />
Também requer que o objeto em questão pertença ao usuário que efetua a requisição. <br />
</p>
    <table>
        <tbody>
            <br>[GET]/api/accounts/users/{user_id}/</br>
            <br>[PUT]/api/accounts/users/{user_id}/</br>
            <br>[DELETE]/api/accounts/users/{user_id}/</br>
            <br>[POST]/api/locals/</br>
            <br>[GET]/api/locals/</br>
            <br>[GET]/api/locals/{local_id}/</br>
            <br>[PUT]/api/locals/{local_id}/</br>
            <br>[DELETE]/api/locals/{local_id}/</br>
            <br>[GET]/api/locals/</br>
            <br>[POST]/api/routes/generate/</br>

        </tbody>
    </table>


{% endblock %}